<script type="text/javascript">const responseFromLicense = {{ site.data.license.response | jsonify }}; const pageLang = '{{ page.lang }}'; const revisionNames = {ce: '{{ site.data.i18n.ce }}', be: '{{ site.data.i18n.be }}', se: '{{ site.data.i18n.se }}', 'se-plus': '{{ site.data.i18n.se-plus }}', ee: '{{ site.data.i18n.ee }}', cse: '{{ site.data.i18n.cse }}'};</script>
<script type="text/javascript" src='{% javascript_asset_tag getting-started %}[_assets/js/getting-started.js]{% endjavascript_asset_tag %}'></script>
{% if page.platform_code == "bm-private" -%}
  <script type="text/javascript" src='{% javascript_asset_tag getting-started-private %}[_assets/js/getting-started-private.js]{% endjavascript_asset_tag %}'></script>
  {%- include getting_started/stronghold/global/partials/NOTICES.liquid %}
{% endif %}
<script type="text/javascript" src='{% javascript_asset_tag getting-started-install %}[_assets/js/getting-started-install.js]{% endjavascript_asset_tag %}'></script>
<script type="text/javascript" src='{% javascript_asset_tag bcrypt %}[_assets/js/bcrypt.js]{% endjavascript_asset_tag %}'></script>


{%- assign layout = site.data.getting_started.stronghold.installTypes[page.platform_code].layout %}
{%- assign revisions = site.data.getting_started.stronghold.global.revisions %}
{%- assign platforms = 'bm-private,vsphere' | split: ',' %}

{% if page.lang == 'ru' %}
#### Выберите редакцию Deckhouse Stronghold
  {% else %}
#### Select the Deckhouse Stronghold revision
{% endif %}

<div class="tabs">
  {% for revision in revisions %}
    {% if platforms contains page.platform_code %}
      {% if revision == 'ee' %}
        <a id='tab_layout_{{ revision }}' href="javascript:void(0)" class="tabs__btn tabs__btn_revision{% if revision == 'ee' %} active{% endif %}"
          onclick="openTabAndSaveStatus(event, 'tabs__btn_revision', 'tabs__content_revision', 'block_layout_{{ revision }}', 'dhctl-revision', '{{ revision }}');
          toggleDisabled('tab_layout_{{ revision }}', '[license-token-{{ revision }}]');" >
          {{ site.data.i18n[revision] }}
        </a>
      {% endif %}
    {% else %}
      <a id='tab_layout_{{ revision }}' href="javascript:void(0)" class="tabs__btn tabs__btn_revision{% if forloop.first %} active{% endif %}"
        onclick="openTabAndSaveStatus(event, 'tabs__btn_revision', 'tabs__content_revision', 'block_layout_{{ revision }}', 'dhctl-revision', '{{ revision }}');
        toggleDisabled('tab_layout_{{ revision }}', '[license-token-{{ revision }}]');" >
        {{ site.data.i18n[revision] }}
      </a>
    {% endif %}
  {% endfor %}
</div>


{% for revision in revisions %}
  {%- assign layoutCode = '' | append: layout.code %}
  {% if platforms contains page.platform_code %}
    {% if revision == 'ee' %}
<div id='block_layout_{{ revision }}' class="tabs__content tabs__content_revision active" markdown="1">
        {%- if page.lang == 'ru' %}
          {%- include getting_started/stronghold/global/partials/INSTALL_CONFIG_RU.liquid revision=revision layout=layoutCode %}
        {%- else %}
          {%- include getting_started/stronghold/global/partials/INSTALL_CONFIG.liquid revision=revision layout=layoutCode %}
        {%- endif %}

      {% if page.platform_code == 'yandex' %}
        {%- if page.lang == 'ru' %}
          {%- include getting_started/stronghold/yandex/partials/warning_alert.ru.liquid revision=revision %}
        {%- else %}
          {%- include getting_started/stronghold/yandex/partials/warning_alert.liquid revision=revision %}
        {%- endif %}
      {% endif %}

      {% if page.lang == 'ru' %}
        {% include getting_started/stronghold/global/partials/INSTALL_OTHER_RU.liquid revision=revision %}
      {% else %}
        {% include getting_started/stronghold/global/partials/INSTALL_OTHER.liquid revision=revision %}
      {% endif %}
</div>
    {% endif %}
  {% else %}
<div id='block_layout_{{ revision }}' class="tabs__content tabs__content_revision{% if revision == 'ce' %} active{% endif %}" markdown="1">
        {%- if page.lang == 'ru' %}
          {%- include getting_started/stronghold/global/partials/INSTALL_CONFIG_RU.liquid revision=revision layout=layoutCode %}
        {%- else %}
          {%- include getting_started/stronghold/global/partials/INSTALL_CONFIG.liquid revision=revision layout=layoutCode %}
        {%- endif %}

      {% if page.platform_code == 'yandex' %}
        {%- if page.lang == 'ru' %}
          {%- include getting_started/stronghold/yandex/partials/warning_alert.ru.liquid revision=revision %}
        {%- else %}
          {%- include getting_started/stronghold/yandex/partials/warning_alert.liquid revision=revision %}
        {%- endif %}
      {% endif %}

      {% if page.lang == 'ru' %}
        {% include getting_started/stronghold/global/partials/INSTALL_OTHER_RU.liquid revision=revision %}
      {% else %}
        {% include getting_started/stronghold/global/partials/INSTALL_OTHER.liquid revision=revision %}
      {% endif %}
</div>
  {% endif %}
{% endfor %}


<script>
$(document).ready(function() {
  $.cookie('lang', '{{ page.lang }}');
  {%- for revision in revisions %}
  {% if revision != "ce" %}
  $('#enter-license-key-{{ revision }}').click((e)=> {
    e.preventDefault();
    let licenseToken = $('[license-token-{{ revision }}]').val().trim();
    getLicenseToken(licenseToken, '{{ revision }}')
  });

  $('[license-token-{{ revision }}]').keypress((e) => {
      const keycode = (event.keyCode ? event.keyCode : event.which);
      let licenseToken = $('[license-token-{{ revision }}]').val().trim();
      if (keycode == '13') {
        getLicenseToken(licenseToken, '{{ revision }}')
      }
  });
  {% endif %}
  {% endfor %}

  triggerBlockOnItemContent('[license-token-{{ revision }}]', '.dimmer-block-content', {% if page.ee_only != true %}true{% endif %});

  generate_password(true);
  replace_snippet_password();
  sessionStorage.setItem('dhctl-revision','{% if page.ee_only == true %}ee{% else %}be{% endif %}');
});
</script>