{%- include getting_started/global/partials/NOTICES.liquid %}

{% if page.platform_type == "existing" %}
Если вы развернули **новый** кластер и хотите поставить в него Deckhouse, то рекомендуем вернуться на предыдущий шаг и использовать руководство по развертыванию кластера с помощью самого Deckhouse.

Кластеры Kubernetes, предлагаемые различными облачными провайдерами, имеют свои особенности и различия, так же как и кластеры, развернутые вручную. Правильная стратегия установки Deckhouse в таких кластерах — установить Deckhouse в минимальной конфигурации, после чего включить необходимые модули.

Данное руководство предлагает установку Deckhouse в **минимальной** конфигурации с включенным модулем [внутренней документации](/{{ page.lang }}/documentation/v1/modules/810-deckhouse-web/) (для примера работы web-приложения) и модулем [cert-manager](/{{ page.lang }}/documentation/v1/modules/101-cert-manager/).

После выполнения всех шагов данного руководства вам нужно будет самостоятельно включить интересующие вас модули. Воспользуйтесь [документацией](/{{ page.lang }}/documentation/), чтобы получить об этом необходимую информацию. Также, при возникновении вопросов, вы можете попросить помощи [сообщества](/ru/community/about.html).

{% elsif page.platform_code == "bm-private" %}
Данное руководство предлагает развертывание кластера Kubernetes с помощью Deckhouse в закрытом окружении, когда нет прямого доступа к хранилищу образов контейнеров или репозиториям deb/rpm пакетов.

Установка в закрытом окружении в целом аналогична установке [на bare metal](../bm/step2.html). Отличие только в некоторых дополнительных параметрах настройки.
{% endif %}

## Процесс установки

Вам потребуются:
1. **Персональный компьютер**.

   Компьютер, с которого будет производиться установка.{% unless page.platform_type == "existing" %} Он нужен только для запуска инсталлятора Deckhouse и не будет частью кластера.{% endunless %}

   Требования:
{% if page.platform_code == "bm-private" %}
   - Доступ до проксирующего registry ([читайте подробнее](/{{ page.lang }}/documentation/v1/deckhouse-faq.html#особенности-настройки-сторонних-registry) про их настройку) или до частного хранилища образов контейнеров с образами контейнеров Deckhouse;
{%- else %}
   - HTTPS-доступ до хранилища образов контейнеров `registry.deckhouse.io` (установка также возможна и [в закрытом окружении](../bm-private/step2.html));
{%- endif %}
{%- if page.platform_type == "existing" %}
   - `kubectl`, настроенный для доступа к существующему кластеру.
{%- else %}
   - SSH-доступ по ключу до узла, который будет **master-узлом** будущего кластера.
{%- endif %}
{% if page.platform_type == "existing" %}
1. **Существующий кластер Kubernetes**.

   У вас уже должен быть работающий кластер Kubernetes, подходящий под условия [поддерживаемых версий Kubernetes и ОС](/{{ page.lang }}/documentation/v1/supported_versions.html).

   В процессе установки инсталлятор Deckhouse, запущенный на **персональном компьютере** (см. п.1), подключится к кластеру и развернет Deckhouse.
{%- else %}
1. **Master-узел**.

   Сервер {% if page.platform_type == 'baremetal' %}(физический сервер или виртуальная машина){% else %}(виртуальная машина){% endif %}, который будет управляющим узлом (master-узлом) будущего кластера.
{%- endif %}
{% unless page.platform_type == "existing" %}
   В процессе установки инсталлятор Deckhouse, запущенный на **персональном компьютере** (см. п.1), подключится к **master-узлу** узлу по SSH, установит необходимые пакеты, настроит control plane Kubernetes и развернет Deckhouse. Установка **непосредственно с master-узла** в настоящий момент **не поддерживается**.

   Требования:
   - не менее 4 ядер CPU;
   - не менее 8  ГБ RAM;
   - не менее 40 ГБ дискового пространства;
   - ОС: Ubuntu Linux 16.04/18.04/20.04 LTS или CentOS 7;
{% if page.platform_code == "bm-private" %}
   - доступ до проксирующего registry или до частного хранилища образов контейнеров с образами контейнеров Deckhouse;
   - доступ до прокси-сервера для скачивания deb/rpm-пакетов ОС (при необходимости);
{%- else %}
   - HTTPS-доступ до хранилища образов контейнеров `registry.deckhouse.io` (установка также возможна и [в закрытом окружении](../bm-private/step2.html));
{%- endif %}
   - SSH-доступ от **персонального компьютера** (см. п.1) по ключу;
   - на узле не должно быть установлено пакетов container runtime, например containerd или docker.

3. Дополнительные узлы (не обязательно).
{% if page.platform_type == 'cloud' %}
   В зависимости от назначения кластера и выбранной на следующих этапах схемы размещения узлов в выбранном облачном провайдере будут автоматически заказаны дополнительные узлы.
{%- else %}
   В зависимости от назначения кластера, возможно, вам потребуются дополнительные узлы — например, выделенные узлы для мониторинга, балансировщика и т.п.
{%- endif %}

   Общие требования к узлам кластера:
   - ОС: Ubuntu Linux 16.04/18.04/20.04 LTS или CentOS 7;
   {%- if page.platform_code == "bm-private" %}
   - доступ до проксирующего registry или до хранилища образов контейнеров с образами контейнеров Deckhouse;
   - доступ до прокси-сервера для скачивания deb/rpm-пакетов ОС (при необходимости);
   {%- else %}
   - HTTPS-доступ до хранилища образов контейнеров `registry.deckhouse.io` (установка также возможна и [в закрытом окружении](../bm-private/step2.html)).
   {%- endif %}
   - на узле не должно быть установлено пакетов container runtime, например containerd или docker.

   Если какой-либо узел (или группа узлов) будет использоваться для роли мониторинга ([подробнее](/{{ page.lang }}/documentation/v1/#выделение-узлов-под-определенный-вид-нагрузки), про выделение узлов под определенный вид нагрузки), то минимальные требования к такому узлу следующие:
   - не менее 4 ядер CPU;
   - не менее 8 ГБ RAM.
{%- endunless %}

   > По умолчанию в качестве хранилища для системных компонентов используется default storage class, определенный в кластере (или `emptydir`, если он не определен). Указать storageClass можно с помощью глобального параметра [storageClass](/{{ page.lang }}/documentation/v1/deckhouse-configure-global.html#параметры).

{% if include.presentation -%}
Презентация ниже показывает основные этапы, которые предстоит пройти для установки Deckhouse Platform. Она не обязательна для просмотра, но позволит лучше ориентироваться в последующих инструкциях.

Обратите внимание, что в презентации представлен упрощённый, примерный план действий, а точные действия и команды, которые необходимо выполнить, будут указаны в следующих шагах.

<iframe src="{{ include.presentation }}" frameborder="0" width="{{ include.width }}" height="{{ include.height }}" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<p class="text text_alt" style="color: #2A5EFF">
  <img src="/images/icons/arrow-up.svg" alt="" style="width: 25px;margin-left: 59px;position: relative;top: -2px;">
  Управляйте презентацией
</p>
{%- endif %}
