{%- assign moduleKebabName = page['module-kebab-name'] | default: '<module-name>' %}

{%- assign configVersion = site.data.schemas.modules[moduleKebabName].config-values.x-config-version |  default: "1" %}

{%- if configVersion.size < 1 %}
  {%- assign configVersion = "1" %}
{%- endif %}

{%- if page.lang == 'ru' %}
<div id='настройки'></div>

{% offtopic title="Как настроить модуль..." %}

Настроить модуль можно одним из следующих способов:
- **С помощью [веб-интерфейса Deckhouse](/products/kubernetes-platform/documentation/v1/user/web/ui.html).**

  В разделе «Система» → «Управление системой» → «Deckhouse» → «Модули», откройте модуль `{{ moduleKebabName }}`, включите переключатель «Дополнительные настройки». Заполните необходимые поля формы на вкладке «Конфигурация», или укажите настройки модуля в формате YAML на вкладке «YAML», **не включая секцию settings**. Сохраните изменения.

  Пример:

  <img src="/images/module/settings/ui-conf-advanced-conf-ru.png" alt="Интерфейс настройки модуля">

  Вы также можете отредактировать объект ModuleConfig `{{ moduleKebabName }}` на вкладке «YAML» в окне настроек модуля («Система» → «Управление системой» → «Deckhouse» → «Модули», откройте модуль `{{ moduleKebabName }}`), указав версию схемы в параметре `spec.version` и необходимые параметры модуля в секции `spec.settings`.

- **С помощью [Deckhouse CLI (d8)](/products/kubernetes-platform/documentation/v1/cli/d8/)** (требуется [Deckhouse CLI (d8)](/products/kubernetes-platform/documentation/v1/cli/d8/), настроенный на работу с кластером).

  Отредактируйте существующий ModuleConfig `{{ moduleKebabName }}` (подробнее о настройке Deckhouse читайте [в документации](/products/kubernetes-platform/documentation/v1/admin/configuration/)), выполнив следующую команду:

  ```shell
  d8 k edit mc {{ moduleKebabName }}
  ```

  Внесите необходимые изменения в секцию `spec.settings`. При необходимости укажите версию схемы в параметре `spec.version`. Сохраните изменения.

  Вы также можете создать файл манифеста ModuleConfig `{{ moduleKebabName }}`, используя пример ниже. Заполните секцию `spec.settings` необходимыми параметрами модуля. При необходимости укажите версию схемы в параметре `spec.version`.

  Примените манифест с помощью следующей команды (укажите имя файла манифеста):

  ```shell
  d8 k apply -f <FILENAME>
  ```

  Пример файла манифеста ModuleConfig `{{ moduleKebabName }}`:

  ```yaml
  apiVersion: deckhouse.io/v1alpha1
  kind: ModuleConfig
  metadata:
    name: {{ moduleKebabName }}
  spec:
    version: {{ configVersion }}
    enabled: true
    settings: # Параметры модуля из раздела "Параметры" ниже.
  ```
{% endofftopic %}

{%- else %}
<div id='settings'></div>

{% offtopic title="How to configure the module..." %}

You can configure the module in one of the following ways:

- **Via [Deckhouse web UI](/products/kubernetes-platform/documentation/v1/user/web/ui.html).**

  In the "System" → "System Management" → "Deckhouse" → "Modules" section, open the `{{ moduleKebabName }}` module and enable the "Advanced Settings" switch. Fill in the required fields in the "Configuration" tab or specify the module settings in YAML format on the "YAML" tab, **excluding the settings section**. Save the changes.

  Example:

  <img src="/images/module/settings/ui-conf-advanced-conf-en.png" alt="Module Setup Interface">

  You can also edit the ModuleConfig object `{{ moduleKebabName }}` on the "YAML" tab in the module settings window ("System" → "System Management" → "Deckhouse" → "Modules", open the module `{{ moduleKebabName }}`) by specifying the schema version in the `spec.version` parameter and the necessary module parameters in the `spec.settings` section.

- **Via [Deckhouse CLI (d8)](/products/kubernetes-platform/documentation/v1/cli/d8/)** (requires [Deckhouse CLI (d8)](/products/kubernetes-platform/documentation/v1/cli/d8/) configured to work with the cluster).

  Edit the existing ModuleConfig `{{ moduleKebabName }}` (for more details on configuring Deckhouse, see the [documentation](/products/kubernetes-platform/documentation/v1/admin/configuration/)) by executing the following command:

  ```shell
  d8 k edit mc {{ moduleKebabName }}
  ```

  Make the necessary changes in the `spec.settings` section. If necessary, specify the schema version in the `spec.version` parameter. Save the changes.

  You can also create a file with manifest for ModuleConfig `{{ moduleKebabName }}` using the example below. Fill in the `spec.settings` section with the required module parameters. If necessary, specify the schema version in the `spec.version` parameter.

  Apply the manifest using the following command (indicate the manifest file name):

  ```shell
  d8 k apply -f <FILENAME>
  ```

  Example of a manifest for ModuleConfig `{{ moduleKebabName }}`:

  ```yaml
  apiVersion: deckhouse.io/v1alpha1
  kind: ModuleConfig
  metadata:
    name: {{ moduleKebabName }}
  spec:
    version: {{ configVersion }}
    enabled: true
    settings: # Module parameters from the "Parameters" section below.
  ```
{% endofftopic %}
{%- endif %}
