{% comment %}This partion is included in the module page in the custom_hooks.rb{% endcomment %}
{%- assign moduleKebabName = page['module-kebab-name'] %}
{%- assign editions = site.data['modules']['all'][moduleKebabName]['editions'] %}
{%- assign editionRestrictions = site.data['modules']['all'][moduleKebabName]['editionRestrictions'] %}
{%- assign editionRestrictionsComment = site.data['modules']['all'][moduleKebabName]['editionRestrictionsComment'] %}

<blockquote>
{%- if editionRestrictions %}
<p>
{%- if editionRestrictionsComment['all'] -%}
  <span style='border-bottom: 1px dotted #000' data-tippy-content='{{ editionRestrictionsComment['all'][page.lang] }}'>
    {{- site.data.i18n.common['module_available_with_limitations_prefix'][page.lang] }}: 
  </span>
{%- else -%}
  {{ site.data.i18n.common['module_available_with_limitations_prefix'][page.lang] }}: 
{%- endif -%}
<strong>
{%- for edition in editions %}
 {%- if edition == "fe" %}{% continue %}{% endif -%}
 {%- if site.data.modules.editions-addition[edition]['languages'] %}
   {%- unless site.data.modules.editions-addition[edition]['languages'] contains page.lang %}{% continue %}{% endunless -%}
 {% endif %}
 {%- unless editionRestrictions contains edition %}{% continue %}{%- endunless -%}
 {%- if editionRestrictions contains edition %}
   {%- if editionRestrictionsComment[edition] -%}
     <span style='border-bottom: 1px dotted #000' data-tippy-content='{{ editionRestrictionsComment[edition][page.lang] }}'>
         {%- if site.data.modules.editions-addition[edition]['name_version'] %}{{ site.data.modules.editions-addition[edition]['name_version'] }}{% else %}{{ site.data.modules.editions-addition[edition]['name'] }}{% endif -%}
     </span>
   {%- else -%}
         {%- if site.data.modules.editions-addition[edition]['name_version'] %}{{ site.data.modules.editions-addition[edition]['name_version'] }}{% else %}{{ site.data.modules.editions-addition[edition]['name'] }}{% endif %}
   {%- endif -%}
 {%- endif -%}
{%- unless forloop.last %}, {% endunless %}
{%- endfor %}
</strong>
</p>
<p>
{{ site.data.i18n.common['module_available_without_limitations_prefix'][page.lang] }}: 
<strong>
{%- for edition in editions %}
  {%- if edition == "fe" %}{% continue %}{% endif -%}
  {%- if site.data.modules.editions-addition[edition]['languages'] %}
    {%- unless site.data.modules.editions-addition[edition]['languages'] contains page.lang %}{% continue %}{% endunless -%}
  {% endif %}
  {%- if editionRestrictions contains edition %}{% continue %}{%- endif -%}
     <strong>
       {%- if site.data.modules.editions-addition[edition]['name_version'] %}{{ site.data.modules.editions-addition[edition]['name_version'] }}{% else %}{{ site.data.modules.editions-addition[edition]['name'] }}{% endif -%}
     </strong>
{%- unless forloop.last %}, {% endunless %}
{%- endfor %}
</strong>
</p>
{% else %}
<p>{{ site.data.i18n.common['module_available_editions_prefix'][page.lang] }}: 
<strong>
  {%- for edition in editions %}
    {%- if edition == "fe" %}{%  continue %}{% endif -%}
    {%- if site.data.modules.editions-addition[edition]['languages'] %}
      {%- unless site.data.modules.editions-addition[edition]['languages'] contains page.lang %}{% continue %}{% endunless -%}
    {% endif %}
    {%- if site.data.modules.editions-addition[edition]['name_version'] %}{{ site.data.modules.editions-addition[edition]['name_version'] }}{% else %}{{ site.data.modules.editions-addition[edition]['name'] }}{% endif %}
    {%- unless forloop.last %}, {% endunless %}
  {%-  endfor %}
</strong>
</p>
{%- endif %}
</blockquote>
