{%- assign moduleName = page['module-kebab-name'] %}

{%- if site.data.schemas[moduleName]['conversions'].size > 0 %}

{%- assign moduleConversions = site.data.schemas[moduleName]['conversions'] | sort %}

## {{ site.data.i18n.common.conversions[page.lang] }}

{{ site.data.i18n.common.conversion_action_message[page.lang] }}:

<ul>
{%- for conversion in moduleConversions %}

{%- assign conversionVersion =  conversion[1]["version"] %}
{%- assign conversionVersionPrev =  conversionVersion | minus: 1 %}

<li>{{ site.data.i18n.common.conversion_from_version[page.lang] | capitalize }} **{{ conversionVersionPrev }}** {{ site.data.i18n.common.conversion_to[page.lang] }} **{{ conversionVersion }}**:

  {% if conversion[1].description[page.lang] %}{{ conversion[1].description[page.lang] | strip_html }}
  {% else %}{{ site.data.i18n.common.conversion_missing_description[page.lang] }}.

  {% if conversion[1].conversions.size > 0 %}
    <div class="details" markdown="0">
      <p class="details__lnk">
        <a href="javascript:void(0)" class="details__summary">
          {{ site.data.i18n.common.conversion_expressions[page.lang] }}:
        </a>
      </p>
      <div class="details__content" markdown="0">
        <div class="expand" markdown="0">
          <ul>
            {% for conversionRule in conversion[1].conversions %}
              <li>
                <p><code class="language-plaintext highlighter-rouge">{{ conversionRule }}</code></p>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
  {% endif %}
</li>
{%- endfor %}
</ul>
{%- endif %}

