{% for group in site.data.deckhouse-ports.groups %}
## {{ group.description[page.lang] }}

{% if page.lang == 'ru' -%}
| Порт | Протокол | Назначение |
{%- else %}
| Port | Protocol | Purpose |
{%- endif %}
|---|---|---|
{%- for destination in group.destinations %}
| {{ destination.ports }} | {{ destination.protocol }} | {{ destination.description[page.lang] }} |
{%- endfor %}
{% endfor %}




### DEMO1 TODO REMOVE

{% capture table %}
```table
| OMG, I span 3 columns! \      \      |
|------------------------|------|------|
| That's...              | very | nice |
| ^^                     | pretty! | test |
```
{% endcapture %}

<div markdown="0">{% include table_generation/fancy-tables.liquid markdown=table %}</div>

### DEMO2 TODO REMOVE

{% capture table %}
```table
| OMG, I span 3 columns! \      \      |
|------------------------|------|------|
{%- for destination in site.data.deckhouse-ports.groups[0].destinations %}
| {{ destination.ports }} | {{ destination.protocol }} | {{ destination.description[page.lang] }} |
{%- endfor %}
| That's...              | very | nice |
```
{% endcapture %}

<div markdown="0">{% include table_generation/fancy-tables.liquid markdown=table %}</div>
