{%- comment -%}
Example of using OSS data in Jekyll documentation

The OSS data is available through site.data.oss
Structure: site.data.oss[module_name] is an array of OSS items

Each OSS item has the following fields:
- name: Name of the OSS component
- link: URL to the component
- description: Description of the component
- logo: URL to the logo
- license: License information
- id: Component ID (optional)
- version: Version (optional)
{%- endcomment -%}

{%- if site.data.oss -%}
  {%- assign module_name = page.module_name | default: include.module_name -%}
  {%- if module_name and site.data.oss[module_name] -%}
    {%- assign oss_items = site.data.oss[module_name] -%}
    
    <div class="oss-components">
      <h3>Open Source Components</h3>
      <ul>
        {%- for item in oss_items -%}
          <li>
            {%- if item.link -%}
              <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">
                {{ item.name }}
              </a>
            {%- else -%}
              {{ item.name }}
            {%- endif -%}
            {%- if item.version -%}
              <span class="version">v{{ item.version }}</span>
            {%- endif -%}
            {%- if item.description -%}
              <p class="description">{{ item.description }}</p>
            {%- endif -%}
            {%- if item.license -%}
              <span class="license">License: {{ item.license }}</span>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endif -%}
