{%- assign modules = site.data.modules.modules %}
{%- assign maindata = site.data.revision_comparison %}
{%- assign supported_img_url = '/images/icons/supported.svg' %}
{%- assign notsupported_img_url = '/images/icons/not_supported.svg' %}
{%- assign revision = 'fe' %}
{%- if site.mode == 'local' and site.d8Revision %}
{%- assign revision = site.d8Revision | downcase %}
{%- endif %}

<table markdown="0">
<thead>
    <tr>
      <th style="text-align: center"></th>
      <th style="text-align: center">CE</th>
      <th style="text-align: center"><a style="color: #fff;" href="{{ site.url }}/{{ page.lang }}/products/enterprise_edition.html">EE</a></th>
    </tr>
</thead>
<tbody>
{%- for module in modules %}
{%- assign modulePath = module[1].path %}
{%- assign moduleExternal = false %}

{%- if revision == 'ce' and module[1].revision != 'ce' %}
{%- assign moduleExternal = true %}
{%- endif %}

{%- if revision == 'ee' and module[1].revision == 'fe' %}
{%- assign moduleExternal = true %}
{%- endif %}

{%- if moduleExternal %}
{%- assign modulePath = module[1].path | prepend: '/documentation/' | prepend: page.lang | prepend: site.url %}
{%- endif %}
<tr>
  <td style="text-align: left">
    <a href="{{ modulePath }}">{{ module[0] }}</a>
  </td>
  <td style="text-align: center; width: 170px;">
      {% if module[1].revision == 'ee' or module[1].revision == 'fe'  %}
      <img src="{{ notsupported_img_url }}">
      {% else %}
      <img src="{{ supported_img_url }}">
      {% endif %}
  </td>
  <td style="text-align: center; width: 170px;">
      {% if module[1].revision == 'ee' or module[1].revision == 'ce'  %}
      <img src="{{ supported_img_url }}">
      {% else %}
      <img src="{{ notsupported_img_url }}">
      {% endif %}
  </td>
</tr>
{%- endfor %}

</tbody>
</table>

<p style="max-width: 740px; margin-top: 25px; font-size: 0.9em;" markdown="0">
* {% if page.lang == 'en' -%}
Available in <a href="{{ site.url }}/{{ page.lang }}/services/managed.html">Managed Deckhouse</a> service
{%- else -%}
Доступно в рамках услуги <a href="{{ site.url }}/{{ page.lang }}/services/managed.html">Managed Deckhouse</a>
{%- endif -%}
</p>


