{%- assign modules = site.data.modules.all %}
{%- assign supported_img_url = '/images/icons/supported.svg' %}
{%- assign notsupported_img_url = '/images/icons/not_supported.svg' %}
{%- assign partially_supported_img_url = '/images/icons/intermediate.svg' %}
{%- assign siteD8Edition = 'fe' %}
{%- assign editionsWeight = site.data.editions-weight %}
{%- if site.mode == 'module' and site.d8Revision %}
  {%- assign siteD8Edition = site.d8Revision | downcase %}
{%- endif %}

<table markdown="0" style="table-layout: fixed">
  <colgroup>
    <col width="214px">
    <col width="64px">
    <col width="64px">
    <col width="64px">
    <col width="64px">
    <col width="64px">
    <col width="74px">
    <col width="74px">
  </colgroup>
  <thead>
  <tr>
    <th style="text-align: center"></th>
    {%- for edition in editionsWeight %}
      {%- assign skip = false %}
      {%- assign currentEdition = edition[0] %}
      {%- if currentEdition == 'fe' %}{% assign skip = true %}{% endif %}
      {%- if site.data.editions[currentEdition].languages.size > 0 %}
        {%- if site.data.editions[currentEdition].languages contains page.lang %}
          {%- assign skip = false %}
        {%- else %}
          {%- assign skip = true %}
        {%- endif %}
      {%- endif %}
      {%- if skip %}{% continue %}{% endif %}
      <th style="text-align: center">{{ site.data.editions[currentEdition].name }}</th>
    {%- endfor %}
  </tr>
  </thead>
  <tbody>
  {%- for module in modules %}
    {%- assign moduleName = module[0] %}
    {%- assign moduleEdition = module[1].edition %}
    {%- assign moduleDoesntBelongToEdition = false %}

    {%- if siteD8Edition == 'ce' and module[1].edition != 'ce' %}
      {%- assign moduleDoesntBelongToEdition = true %}
    {%- endif %}

    {%- if siteD8Edition == 'ee' and module[1].edition == 'fe' %}
      {%- assign moduleDoesntBelongToEdition = true %}
    {%- endif %}

    {%- if editionsWeight[moduleEdition] <= editionsWeight[siteD8Edition] %}
       {%- if site.data.editions[siteD8Edition].excludeModules contains moduleName %}
         {%- assign moduleDoesntBelongToEdition = true %}
       {%- endif %}
    {%- else %}
      {%- assign moduleDoesntBelongToEdition = true %}
    {%- endif %}

    {%- assign modulePath = "" %}
    {%- if module[1].path.size > 0 %}
      {%- if module[1].external == "true"  %}
        {%- assign modulePath = module[1].path | prepend: site.urls[page.lang] %}
      {%- elsif moduleDoesntBelongToEdition %}
        {%- assign modulePath = module[1].path | prepend: '/products/kubernetes-platform/documentation/v1/' | prepend: site.urls[page.lang] %}
      {%- else %}
        {%- assign modulePath = module[1].path %}
      {%- endif %}
    {%- endif %}

    <tr>
      <td style="text-align: left">
      {%- if modulePath.size > 0 %}
        <a href="{{ modulePath }}"
          {%- if site.data["modulesFeatureStatus"][moduleName] != '' %} class="comparison-table__module comparison-table__module-{{ site.data["modulesFeatureStatus"][moduleName] }}" {% endif -%}
        >{{ moduleName }}</a>
      {%- else %}
        <span
          {%- if site.data["modulesFeatureStatus"][moduleName] != '' %} class="comparison-table__module comparison-table__module-{{ site.data["modulesFeatureStatus"][moduleName] }}" {% endif -%}
        >{{ moduleName }}</span>
      {%- endif %}
      </td>
      {%- for edition in editionsWeight %}
        {%- assign skip = false %}
        {%- assign currentEdition = edition[0] %}
        {%- if currentEdition == 'fe' %}{% assign skip = true %}{% endif %}
        {%- if site.data.editions[currentEdition].languages.size > 0 %}
          {%- if site.data.editions[currentEdition].languages contains page.lang %}
            {%- assign skip = false %}
          {%- else %}
            {%- assign skip = true %}
          {%- endif %}
        {%- endif %}
        {%- if skip %}{% continue %}{% endif %}

        <td style="text-align: center;">
          {%- if editionsWeight[moduleEdition] <= editionsWeight[currentEdition] or module[1].editionRestrictions contains currentEdition %}

            {%- if site.data.editions[currentEdition].excludeModules contains moduleName %}
               <img src="{{ notsupported_img_url }}">
            {%- else %}
               {% assign effectiveParametersWeight = editionsWeight[currentEdition] %}
               {%- if currentEdition == 'se-plus' %}{%- assign effectiveParametersWeight = editionsWeight['se'] %}{%- endif %}

               {%- if module[1].editionFullyAvailable contains currentEdition %}
                  <img src="{{ supported_img_url }}">
               {%- elsif module[1].editionRestrictions contains currentEdition %}
                  {%- assign restrictionComment = site.data.i18n.comparison['module_has_restions'][page.lang] %}
                  {%- if module[1].editionRestrictionsComment["all"] %}
                     {%- assign restrictionComment = module[1].editionRestrictionsComment["all"][page.lang] %}
                  {%- endif %}
                  {%- if module[1].editionRestrictionsComment[currentEdition] %}
                     {%- assign restrictionComment = module[1].editionRestrictionsComment[currentEdition][page.lang] %}
                  {%- endif %}
                  <span class="table__asterisk"><img src="{{ partially_supported_img_url }}"
                                                    data-tippy-content="{{ restrictionComment }}"></span>
               {%- elsif module[1].parameters-ee and (effectiveParametersWeight < editionsWeight['ee']) %}
                 {%- assign parametersList = '' %}
                 {%- for parameter in module[1].parameters-ee %}
                   {%- case parameter[1]['resourceType'] %}
                     {%- when "crd" %}
                       {%- assign resourceFile = 'cr.html' %}
                     {%- when "moduleConfig" %}
                       {%- assign resourceFile = 'configuration.html' %}
                     {%- when "clusterConfig" %}
                       {%- assign resourceFile = 'cluster_configuration.html' %}
                     {%- else %}
                       {%- assign resourceFile = '' %}
                   {%- endcase -%}

                   {%- capture parameterLink %}<a
                     href='{{ module[1]['path'] }}{{ resourceFile }}#{{ parameter[1]['linkAnchor'] }}'>{{ parameter[1]['title'] }}</a>{% endcapture %}
                   {%- assign parametersList = parametersList | append: parameterLink %}
                   {%- unless forloop.last %}{%- assign parametersList = parametersList | append: "<br />" %}{% endunless %}
                 {%- endfor %}
                 <span class="table__asterisk"><img src="{{ partially_supported_img_url }}"
                                                    data-tippy-content="{{ site.data.i18n.comparison['except_parameters'][page.lang] }}{{ parametersList }}"></span>
               {%- else %}
                 <img src="{{ supported_img_url }}">
               {%- endif %}
            {%- endif %}

          {%- else %}
            <img src="{{ notsupported_img_url }}">
          {%- endif %}
        </td>
      {%- endfor %}
    </tr>
  {%- endfor %}

  </tbody>
</table>
