    <div class="ais-InstantSearch">
      <div class="left-panel">
        <div id="clear-refinements"></div>
      </div>

      <div class="right-panel">
        <div id="searchbox" class="ais-SearchBox"></div>
        <div id="hits"></div>
        <div id="pagination"></div>
      </div>
    </div>

<!-- <script type="text/javascript" src='{{ assets["lunr.js"].digest_path | true_relative_url }}'></script> -->
<!-- <script type="text/javascript" src='{{ assets["lunr.stemmer.support.js"].digest_path | true_relative_url }}'></script> -->
<!-- <script type="text/javascript" src='{{ assets["lunr.multi.js"].digest_path | true_relative_url }}'></script> -->
<!-- <script type="text/javascript" src='{{ assets["lunr.ru.js"].digest_path | true_relative_url }}'></script> -->
<!-- <script type="text/javascript" src='{{ assets["search.js"].digest_path | true_relative_url }}'></script> -->


<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.3/dist/algoliasearch-lite.umd.js" integrity="sha256-dyJcbGuYfdzNfifkHxYVd/rzeR6SLLcDFYEidcybldM=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.51.1/dist/instantsearch.production.min.js" integrity="sha256-y6I4MY/blLHk4a7G33zp97DcnBFRY2iMId4FObo8toI=" crossorigin="anonymous"></script>

<!-- Include only the reset -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.0.0/themes/reset-min.css" integrity="sha256-2AeJLzExpZvqLUxMfcs+4DWcMwNfpnjUeAAvEtPr0wU=" crossorigin="anonymous"> -->
<!-- or include the full Satellite theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.0.0/themes/satellite-min.css" integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA=" crossorigin="anonymous">
<script type="text/javascript" src='{{ assets["search-algolia.js"].digest_path | true_relative_url }}'></script>
