        {%- assign install_types = site.data.getting_started.dkp_data.installTypes %}

        {%- comment %}Creating an array for sorting{% endcomment %}
        {%- assign providers_for_sorting = "" | split: "," %}

        {%- comment %}Select only the right providers{% endcomment %}
        {%- for provider_pair in install_types %}
          {%- assign provider_key = provider_pair[0] %}
          {%- assign provider = provider_pair[1] %}

          {%- comment %}Apply filters{% endcomment %}
          {%- if provider.type != 'cloud' %}{% continue %}{% endif %}
          {%- if provider.languages %}
            {%- unless provider.languages contains page.lang %}{% continue %}{% endunless %}
          {%- endif %}

          {%- comment %}Add in array for sorting{% endcomment %}
          {%- assign sort_item = provider.name[page.lang] | append: "|" | append: provider_key %}
          {%- assign providers_for_sorting = providers_for_sorting | push: sort_item %}
        {%- endfor %}

        {%- assign sorted_providers = providers_for_sorting | sort %}

        {%- comment %}Render sorted buttons{% endcomment %}
        {%- for provider_str in sorted_providers %}
          {%- assign provider_parts = provider_str | split: "|" %}
          {%- assign provider_key = provider_parts[1] %}
          {%- assign provider = install_types[provider_key] %}

          {%- if provider.wip == true %}
            <a class="button button_default button_card button_disabled">{{ provider.name[page.lang] }} ({{ site.data.i18n.soon[page.lang] }})</a>
          {%- else %}
            <a class="button button_default button_card" href="/products/kubernetes-platform/gs/{{ provider_key }}/step2.html">
              {% if provider.iconPath %}<div class="icon"><img src="/{{ provider.iconPath }}" alt="{{ provider.name[page.lang] }} icon"/></div>{% endif %}
              <span class="name">{{ provider.name[page.lang] }}</span>
              {% if provider.extraIcons %}
                <div class="footer">
                  {%- for extraIcon in provider.extraIcons %}
                    <img src="/{{ extraIcon[1] }}" alt=""/>
                  {% endfor %}
                </div>
              {% endif %}
            </a>
          {%- endif %}
        {%- endfor %}
