{%- assign productCode = page.product_code | default: "kubernetes-platform" %}
{%- assign _conditionProductURL = "/products/" | append: productCode | append: "/" %}
{%- assign productMenuData = l2MenuData | where: "url", _conditionProductURL | first %}
{%- assign productMenuDataFallback = l2MenuDataFallback | where: "url", _conditionProductURL | first %}
{%- assign productLogoURL = "/images/sprite.svg?v2#" | append: productCode | append: "-icon" %}
{%- assign productName = productMenuData.title %}
{%- unless productMenuData %}
  {%- assign productName = productMenuDataFallback.title %}
{%- endunless %}
<div class="header header__product-menu">
  <div class="container">
    <div class="header__product-menu-logo">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <use xlink:href="{{ productLogoURL }}"></use>
      </svg>
      <span>{{ productName }}</span>
    </div>
    <div class="nav__trigger"></div>
    <ul id="bottom-header-nav" class="nav header__nav hidden">
      {%- if productMenuData.items %}
        {%- for item in productMenuData.items %}
          {%- if item.rel == "doc" %}{% assign itemClass='class="header__navigation-item active"' %}{% elsif item.items %}{% assign itemClass='class="header__navigation-item menu-item-has-children"' %}{%- else %}{% assign itemClass='class="header__navigation-item"' %}{% endif %}
          <li {{ itemClass }} {%- if item.items %} data-proofer-ignore{% endif %}>
            <a href="{{ item.url }}"{% if item.target.size > 0 %} target="{{ item.target }}"{% endif %}>{{ item.title }}</a>
              {% if item.items %}
                <div class="sub-menu-container">
                  <ul class="sub-menu">
                    {% for item in item.items %}
                      <li data-proofer-ignore><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            {% endif %}
          </li>
        {%- endfor %}
      {%- else %}
        <li class="header__navigation-item active" data-proofer-ignore>
          <a href="#">{{ site.data.i18n.common['documentation'][page.lang] | capitalize }}</a>
        </li>
      {%- endif %}
    </ul>
  </div>
</div>
