<!-- Tippy.js - library to tooltip-->
<script type="text/javascript" src='{{ assets["popper.min.js"].digest_path }}'></script>
<script type="text/javascript" src='{{ assets["tippy-bundle.umd.min.js"].digest_path }}'></script>
{%- assign supported_img_url = '/images/icons/supported.svg' %}
{%- assign partial_img_url = '/images/icons/intermediate.svg' %}
{%- assign notsupported_img_url = '/images/icons/not_supported.svg' %}

<table class="table table_big">
  <tbody>
    <tr>
      <td class="table__cell_left-title"></td>
      <td class="table__cell_top-title">
        <div>CE</div>
      </td>
      <td class="table__cell_top-title">
        <div>EE</div>
      </td>
    </tr>
    {% for section in site.data.revision_comparison.sections %}
    <tr>
      <td class="table__cell_separator-title" colspan="3">
        {{ section.description[page.lang] }}
      </td>
    </tr>
    {% for item in section.items %}
    {%- unless item.description[page.lang].size > 1 %}{% continue %}{% endunless %}
    <tr>
      <td class="table__cell_left-title">
        <div>
          {%- if item.url %}
          <a href="{{ item.url | relative_url }}">{{ item.description[page.lang] }}</a>
          {%- elsif item.external_url %}
          <a href="{{ item.external_url[page.lang] }}">{{ item.description[page.lang] }}</a>
          {%- else %}
          {{ item.description[page.lang] }}
          {%- endif %}
        </div>
      </td>
      <td class="table__cell_default"><!-- CE -->
        {% assign supported = false %}
        {%- if item.revision.ce %}
            {%- assign supported = item.revision.ce %}
        {%- else %}
            {%- if item.revision == 'ce' %}
                {%- assign supported = true %}
            {%- endif %}
        {%- endif %}
        <div>

          {%- if item.hint.ce %}
            <span class="table__asterisk table__hint_{{ section.id }}_{{ forloop.index }}_ce_{{ page.lang }}">
          {%- endif %}

          {%- case supported %}
            {% when true %}
              <img src="{{ supported_img_url }}" />
            {% when 'partial' %}
              <img src="{{ partial_img_url }}" />
            {% else %}
              <img src="{{ notsupported_img_url }}" />
          {%- endcase %}

          {%- if item.hint.ce %}
          </span>
          {%- endif %}

        </div>
      </td>
      <td class="table__cell_default"> <!-- EE -->
        {% assign supported = false %}
        {%- if item.revision.ee %}
            {%- assign supported = item.revision.ee %}
        {%- else %}
            {%- if item.revision == 'ce' or item.revision == 'ee' %}
                {%- assign supported = true %}
            {%- endif %}
        {%- endif %}
        <div>

          {%- if item.hint.ee %}
            <span class="table__asterisk table__hint_{{ section.id }}_{{ forloop.index }}_ee_{{ page.lang }}">
          {%- endif %}

          {%- case supported %}
            {% when true %}
              <img src="{{ supported_img_url }}" />
            {% when 'partial' %}
              <img src="{{ partial_img_url }}" />
            {% else %}
              <img src="{{ notsupported_img_url }}" />
          {%- endcase %}

          {%- if item.hint.ee %}
            </span>
          {%- endif %}

        </div>
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>

<p class="text" style="max-width: 740px; margin-top: 25px;">
{{ site.data.revision_comparison.description[page.lang] }}
</p>


<script type="text/javascript">
$(document).ready(function () {
    {%- for section in site.data.revision_comparison.sections %}
      {%- for item in section.items %}
        {%- assign itemIndex = forloop.index %}
        {%- for hint in item.hint %}
      tippy('.table__hint_{{ section.id }}_{{ itemIndex }}_{{ hint[0] }}_{{ page.lang }}', {
        interactive: true,
        interactiveDebounce: 10,
        theme: 'custom',
        allowHTML: true,
        maxWidth: 400,
        content: `<em>{{ hint[1][page.lang] }}</em>`
      });
        {%- endfor %}
      {%- endfor %}
    {%- endfor %}
});
</script>
