{%- assign supported_img_url = '/images/icons/supported.svg' %}
{%- assign notsupported_img_url = '/images/icons/not_supported.svg' %}

<table class="table table_big">
  <tbody>
    <tr>
      <td class="table__cell_left-title"></td>
      <td class="table__cell_top-title">
        <div>CE</div>
      </td>
      <td class="table__cell_top-title">
        <div>EE</div>
      </td>
    </tr>
    {% for section in site.data.revision_comparison.sections %}
    <tr>
      <td class="table__cell_separator-title" colspan="3">
        {{ section.description[page.lang] }}
      </td>
    </tr>
    {% for item in section.items %}
    <tr>
      <td class="table__cell_left-title">
        <div>{{ item.description[page.lang] }}</div>
      </td>
      <td class="table__cell_default"><!-- CE -->
        {% assign supported = false %}
        {%- if item.revision.ce %}
            {%- assign supported = item.revision.ce %}
        {%- else %}
            {%- if item.revision == 'ce' %}
                {%- assign supported = true %}
            {%- endif %}
        {%- endif %}
        <div>
          {%- if item.footnote.ce and item.footnote.ce == true %}
          <span class="table__asterisk">
          {%- endif  %}

          {%- case supported %}
            {% when true %}
              <img src="{{ supported_img_url }}" />
            {% when 'partial' %}
              <img src="{{ supported_img_url }}" /><img src="{{ notsupported_img_url }}" />
            {% else %}
              <img src="{{ notsupported_img_url }}" />
          {%- endcase %}

          {%- if item.footnote.ce and item.footnote.ce == true %}
          </span>
          {%- endif  %}
          {%- if item.hint.ce %}
            <br /><small>({{ item.hint.ce[page.lang] }})</small>
          {%- elsif item.hint.ee or item.hint.fe %}
            <br /><br />
          {%- endif  %}
        </div>
      </td>
      <td class="table__cell_default"> <!-- EE -->
        {% assign supported = false %}
        {%- if item.revision.ee %}
            {%- assign supported = item.revision.ee %}
        {%- else %}
            {%- if item.revision == 'ce' or item.revision == 'ee' %}
                {%- assign supported = true %}
            {%- endif %}
        {%- endif %}
        <div>
          {%- if item.footnote.ee and item.footnote.ee == true %}
          <span class="table__asterisk">
          {%- endif  %}

          {%- case supported %}
            {% when true %}
              <img src="{{ supported_img_url }}" />
            {% when 'partial' %}
              <img src="{{ supported_img_url }}" /><img src="{{ notsupported_img_url }}" />
            {% else %}
              <img src="{{ notsupported_img_url }}" />
          {%- endcase %}

          {%- if item.footnote.ee and item.footnote.ee == true %}
          </span>
          {%- endif  %}
          {%- if item.hint.ee %}
            <br><small>({{ item.hint.ee[page.lang] }})</small>
          {%- elsif item.hint.ce or item.hint.fe %}
            <br /><br />
          {%- endif  %}
        </div>
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>

<p class="text" style="max-width: 740px; margin-top: 25px;">
{{ site.data.revision_comparison.description[page.lang] }}
</p>


