<script type="text/javascript">const responseFromLicense = {{ site.data.license.response | jsonify }}; var pageLang = '{{ page.lang }}'; const revisionNames = {ce: '{{ site.data.i18n.ce }}', ee: '{{ site.data.i18n.ee }}'};</script>
{%- include getting_started/dvp/global/partials/gs_scripts.liquid step='install' -%}

<span style="display: none" id="platform_code">{{page.platform_code}}</span>

{% unless page.ee_only == true -%}
{% if page.lang == 'ru' %}
#### Выберите редакцию Deckhouse Virtualization Platform
{% else %}
#### Select the Deckhouse Virtualization Platform revision
{% endif %}
<div class="tabs-block">
   <ul class="tabs__container tabs__container--title">
    {%- for revision in site.data.getting_started.dvp_data.global.revisions %}
      <li id="tab_layout_{{ revision }}" class="tabs__item tabs__item--title tabs__item--revision--{{ revision }} tabs__btn_revision{% if revision == 'ce' %} active{% endif %}" data-index="{{ forloop.index }}"
        onclick="openTabAndSaveStatus(event, 'tabs__btn_revision', 'tabs__content_revision', 'block_layout_{{ revision }}', 'dhctl-revision', '{{ revision }}');
                 openTabAndSaveStatus(event, 'tabs__btn_revision', 'tabs__content_other', 'block_other_{{ revision }}');
                 toggleDisabled('tab_layout_{{ revision }}', '[license-token-ee]');
                 if (typeof dvp_config_update === 'function') setTimeout(dvp_config_update, 0);">{{ site.data.i18n[revision] }}</li>
    {%- endfor %}
   </ul>
{%- endunless %}

<div class="tabs__container tabs__container--descr">
{%- for revision in site.data.getting_started.dvp_data.global.revisions %}
{%- if page.ee_only == true and revision == 'ce' %}{% continue %}{% endif %}
{%- if page.ce_only == true and revision == 'ee' %}{% continue %}{% endif %}
<div id='block_layout_{{ revision }}' class="tabs__content tabs__content_revision{% if revision == 'ce' or page.ee_only == true %} active{% endif %}" markdown="1">
    {% if page.lang == 'ru' %}
    {% include getting_started/dvp/global/partials/INSTALL_CONFIG_RU.liquid revision=revision %}
    {% else %}
    {% include getting_started/dvp/global/partials/INSTALL_CONFIG.liquid revision=revision %}
    {% endif %}
</div>
{%- endfor %}

{%- for revision in site.data.getting_started.dvp_data.global.revisions %}
{%- if page.ee_only == true and revision == 'ce' %}{% continue %}{% endif %}
{%- if page.ce_only == true and revision == 'ee' %}{% continue %}{% endif %}

{% if revision == 'ee' %}
<div class="dimmer-block-content">
{% endif %}

<div id='block_other_{{ revision }}' class="tabs__content tabs__content_other{% if revision == 'ce' or page.ee_only == true %} active{% endif %}" markdown="1">
{%- if page.lang == 'ru' -%}
{%- include getting_started/dvp/global/partials/INSTALL_OTHER_RU.liquid revision=revision -%}
{%- else -%}
{%- include getting_started/dvp/global/partials/INSTALL_OTHER.liquid revision=revision -%}
{%- endif -%}
</div>
{% if revision == 'ee' %}
</div>
{% endif %}

{% endfor %}
</div>
</div>

<script>
$(document).ready(function() {
  $.cookie('lang', '{{ page.lang }}');
  $('#enter-license-key-ee').click((e)=> {
    e.preventDefault();
    let licenseToken = $('[license-token-ee]').val().trim();
    getLicenseToken(licenseToken, 'ee')
  });

  $('[license-token-ee]').keypress((e) => {
      const keycode = (event.keyCode ? event.keyCode : event.which);
      let licenseToken = $('[license-token-ee]').val().trim();
      if (keycode == '13') {
        getLicenseToken(licenseToken, 'ee')
      }
  });

  triggerBlockOnItemContent('[license-token-ee]', '.dimmer-block-content', {% if page.ee_only != true %}true{% endif %});

  sessionStorage.setItem('dhctl-revision','{% if page.ee_only == true %}ee{% else %}ce{% endif %}');
});
</script>
